==
<div class="field-section">
    <h4>Examples</h4>
</div>
<div style="display:grid;grid-template-columns: repeat(8, 1fr);">
    <div>
        <h4 style="color: rgba(0,0,0,0.7); font-size: 1em;">Default Layout :</h4>
        <img src="/themes/bff-wcms/assets/theme_images/default.jpg" alt="" style="width: 100%;">
    </div>
    <div>
        <h4 style="color: rgba(0,0,0,0.7); font-size: 1em;">Fixed Width Layout :</h4>
        <img src="/themes/bff-wcms/assets/theme_images/fixed.jpg" alt="" style="width: 100%;">
    </div>
    <div>
        <h4 style="color: rgba(0,0,0,0.7); font-size: 1em;">Full Width Layout :</h4>
        <img src="/themes/bff-wcms/assets/theme_images/full.jpg" alt="" style="width: 100%;">
    </div>
    <div>
        <h4 style="color: rgba(0,0,0,0.7); font-size: 1em;">Custom Layout :</h4>
        <img src="/themes/bff-wcms/assets/theme_images/custom.jpg" alt="" style="width: 100%;">
    </div>
</div>