@mixin google-font-load($name) {
	@if ($name != "") {
		@import url('https://fonts.googleapis.com/css?family=#{$name}');
	}
}
@mixin text-transform($type) {
	@if ($type == capitalize) {text-transform: $type;}
	@else if ($type == uppercase) {text-transform: $type;}
	@else if ($type == lowercase) {text-transform: $type;}
	@else {}
}

@mixin text-headings($font_family, $font_size, $color) {
	@if ($font_family != null) or ($font_size != null) or ($color != null) {
		h1 {
			@include css(font-family, $font_family);
			@include css(font-size, $font_size); 
			@include css(color,$color); 
		}
	}
}