@mixin layout($layout_type) {
    @if ($layout_type == fixed_Width) {
        #site_layout {
            grid-template-areas: "Header" 
                                 "Content" 
                                 "Footer";
            grid-template-rows: auto 1fr auto;

            @include css(gap, $layout_gap);
        }
        #content_layout,
        #footer_layout {
            display: grid ; grid-template-columns: 1fr $page_width 1fr; 
        }
        #header_layout {
            @if ($logo_outside_navigation == 1) {
                grid-template-areas:  "Logo-Container" "Navigation-Container";

                .logo_wrapper { grid-area: Logo-Container; grid-template-areas: ". Logo ."; }
                .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: ". Navigation ."; }
                .wrapper { display: grid; grid-template-columns: 1fr $page_width 1fr;}
            }
            @else {
                grid-template-areas:  "Navigation-Container";

                .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: ". Navigation ."; display: grid; grid-template-columns: 1fr $page_width 1fr; }
            }
            display: grid; 
        }
        #content_layout {
            grid-template-areas: ". Main-Container .";

            main { grid-area: Main-Container; }
        }
        #footer_layout {
            grid-template-areas: ". Footer-Container .";

            div { grid-area: Footer-Container; }
        }
    }
    @else if ($layout_type == full_Width) {
        
        #site_layout {
            grid-template-areas: "Header" 
                                 "Content" 
                                 "Footer";
            grid-template-rows: auto 1fr auto;

            @include css(gap, $layout_gap);

            & #header_layout,
            & #content_layout,
            & #footer_layout {
                display: grid ;
            }
            
            #header_layout {
                @if ($logo_outside_navigation == 1) {

                    grid-template-areas:  "Logo-Container" "Navigation-Container";

                    .logo_wrapper { grid-area: Logo-Container; grid-template-areas: "Logo"; }
                    .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: "Navigation"; }
                    .wrapper { display: grid; grid-template-columns: 1fr; }
                }
                @else {
                    grid-template-areas:  "Navigation-Container";

                    .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: ". Navigation ."; display: grid; grid-template-columns: 1fr; }
                }
            }
            
        }
    }
    @else if ($layout_type == default) {
        
        #site_layout {
            grid-template-areas: "Header" 
                                 "Content" 
                                 "Footer";
            grid-template-rows: auto 1fr auto;

            @include css(gap, $layout_gap);

            & #header_layout,
            & #content_layout,
            & #footer_layout {
                display: grid ;
            }
            
            #header_layout {
                @if ($logo_outside_navigation == 1) {
                    grid-template-areas:  "Logo-Container" "Navigation-Container";

                    .logo_wrapper { grid-area: Logo-Container; grid-template-areas: "Logo"; }
                    .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: "Navigation"; }
                    .wrapper { display: grid; grid-template-columns: 1fr;}
                }
            
                @else {
                    grid-template-areas:  "Navigation-Container";

                    .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: ". Navigation ."; display: grid; grid-template-columns: 1fr; }
                }
            }

            #content_layout {
                grid-template-areas: ". Main-Container ."; grid-template-columns: 1fr $page_width 1fr; 

                >main { grid-area: Main-Container; }
            }
        }
    }
    @else if ($layout_type == custom) {

        #site_layout {
            grid-template-areas: "Header" 
                                 "Content" 
                                 "Footer";
            grid-template-rows: auto 1fr auto;

            @include css(gap, $layout_gap);

            & #header_layout,
            & #content_layout,
            & #footer_layout {
                display: grid ;
            }
            
            @if ($custom_nav_type == fixed_width) {
                #header_layout {
                    @if ($logo_outside_navigation == 1) {
                        grid-template-areas:  "Logo-Container" "Navigation-Container";

                        .logo_wrapper { grid-area: Logo-Container; grid-template-areas: ". Logo ."; }
                        .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: ". Navigation ."; }
                        .wrapper { display: grid; grid-template-columns: 1fr $custom_nav_width 1fr; }
                    }
                    @else {
                        grid-template-areas:  "Navigation-Container";

                        .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: ". Navigation ."; display: grid; grid-template-columns: 1fr $custom_nav_width 1fr;}
                    }
                }
            }
            @else if ($custom_nav_type == full_width) {
                #header_layout {
                    @if ($logo_outside_navigation == 1) {
                        grid-template-areas:  "Logo" "Navigation-Container";

                        .logo_wrapper { grid-area: Logo-Container; grid-template-areas: "Logo"; }
                        .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: "Navigation"; }
                        .wrapper { display: grid; grid-template-columns: 1fr; }
                    }
                    @else {
                        grid-template-areas:  "Navigation-Container";

                        .nav_wrapper { grid-area: Navigation-Container; grid-template-areas: "Navigation"; display: grid; grid-template-columns: 1fr; }
                    }

                    nav { grid-area: Navigation; }
                }
            }
            
            #content_layout {
                grid-template-areas: ". Main-Container .";
                grid-template-columns: 1fr $page_width 1fr; 

                main { grid-area: Main-Container; }
            }

            @if ($custom_footer_type == fixed_width) {
                #footer_layout {
                    grid-template-areas: ". Footer-Container ."; grid-template-columns: 1fr $custom_footer_width 1fr;

                    div { grid-area: Footer-Container; }
                }
            }
            @else if ($custom_footer_type == full_width) {
                #Footer_Layout {
                    grid-template-areas: "Footer-Container";

                    div { grid-area: Footer-Container; }
                }
            }
        }
    }
}

@mixin main-layout {
    @if ($sidebar_activated == 1) {
        @if ($content_wrapper == 1) {
            @if ($sidebar_content_wrapper == 1) {
                .content_wrapper {
                    @include content-layout;
                }
            }
            @else {
                .main-content {
                    @include content-layout;
                }
            }
        }
        @else {
            .main-content {
                @include content-layout;
            }
        }
    }
}

@mixin content-wrapper {
    @if ($content_wrapper == 1) {
        .content_wrapper {
            @include margins($content_wrapper_margin_top, $content_wrapper_margin_right, $content_wrapper_margin_bottom, $content_wrapper_margin_left);
            @include paddings($content_wrapper_padding_top, $content_wrapper_padding_right, $content_wrapper_padding_bottom, $content_wrapper_padding_left);
            @include css(background, $content_wrapper_background);
            @include css(box-shadow, $content_wrapper_box_shadow);
            @include css(border, $content_wrapper_border);
        
            @if ($sidebar_activated == 1) {
                @if ($sidebar_content_wrapper == 0) {
                    grid-area: Content;
                }
                @else {
                    @if ($content_wrapper_full_height == 1) {
                        height: 100%;
                    }
                }
            }
            @else {
                @if ($content_wrapper_full_height == 1) {
                    height: 100%;
                }
            }
        }
    }
    @else {
        @if ($sidebar_activated == 1) {
            .content {
                grid-area: Content;
            }
        }
    }
}

@mixin sidebar-wrapper {
    @if ($sidebar_activated == 1) {
        @if ($sidebar_content_wrapper == 0) {
            @if ($sidebar_wrapper == 1) {
                .sidebar_wrapper {
                    @include margins($sidebar_wrapper_margin_top, $sidebar_wrapper_margin_right, $sidebar_wrapper_margin_bottom, $sidebar_wrapper_margin_left);
                    @include paddings($sidebar_wrapper_padding_top, $sidebar_wrapper_padding_right, $sidebar_wrapper_padding_bottom, $sidebar_wrapper_padding_left);
                    @include css(background-color, $sidebar_wrapper_background);
                    @include css(box-shadow, $sidebar_box_shadow);
                    @include css(border, $sidebar_border);

                    @if ($sidebar_wrapper_height == 1) {
                        height: min-content;
                    }
                    grid-area: Sidebar;
                }
            }
            @else {
                .sidebar {
                    grid-area: Sidebar;
                }
            }
        }
    }
}

@mixin content-layout {
    @if ($sidebar_position == left) {
        display: grid; grid-template-columns: $sidebar_width auto; grid-template-areas: "Sidebar Content";

        @include css(gap, $sidebar_space_between_content);
    }
    @else {
        display: grid; grid-template-columns: auto $sidebar_width; grid-template-areas: "Content Sidebar";

        @include css(gap, $sidebar_space_between_content);
    }
}