@if if ($layout_type == custom) {

    @media all and (max-width: $custom_nav_width) {
        #site_layout #header_layout .nav_wrapper {
            grid-template-columns: 1fr;
            grid-template-areas: "Navigation";
        }
    }
    @media all and (max-width: $page_width) {
        #site_layout #content_layout {
            grid-template-areas: "Main-Container";
            grid-template-columns: 1fr;
        }
    }
    @media all and (max-width: $custom_footer_width) {
        #site_layout #footer_layout {
            grid-template-areas: "Footer-Container";
            grid-template-columns: 1fr;
        }
    }
}