// CSS checker for empty values

@mixin css($rule, $value) {
    @if ($value != "") and (strip-unit($value) != 0) {
       #{$rule}: $value;
    }
}

// Universal Margins

@mixin margins($margin-top, $margin-right, $margin-bottom, $margin-left) {
    @if ((strip-unit($margin-top) == 0) and (strip-unit($margin-right) == 0) and (strip-unit($margin-bottom) == 0) and (strip-unit($margin-left) == 0)) {
    }
    @else if ((strip-unit($margin-top) == 0) and (strip-unit($margin-right) == 0) and (strip-unit($margin-bottom) == 0) and (strip-unit($margin-left) > 0)) {
        margin-left: $margin-left;
    }
    @else if ((strip-unit($margin-top) == 0) and (strip-unit($margin-left) == 0) and (strip-unit($margin-bottom) == 0) and (strip-unit($margin-right) > 0)) {
        margin-right: $margin-right;
    }
    @else if ((strip-unit($margin-right) == 0) and (strip-unit($margin-left) == 0) and (strip-unit($margin-bottom) == 0) and (strip-unit($margin-top) > 0)) {
        margin-top: $margin-top;
    }
    @else if ((strip-unit($margin-top) == 0) and (strip-unit($margin-right) == 0) and (strip-unit($margin-left) == 0) and (strip-unit($margin-bottom) > 0)) {
        margin-bottom: $margin-bottom;
    }
    @else {
        @if (($margin-right == $margin-left) and ($margin-right != $margin-top) and ($margin-top != $margin-bottom)) {
            margin: $margin-top $margin-right $margin-bottom;
        }
        @else if (($margin-top == $margin-bottom) and ($margin-right == $margin-left) and ($margin-top != $margin-right)) {
            margin: $margin-top $margin-right;
        }
        @else if (($margin-top == $margin-bottom) and ($margin-right == $margin-left) and ($margin-top == $margin-right)) {
            margin: $margin-top;
        }
        @else {
            margin: $margin-top $margin-right $margin-bottom $margin-left;
        }
    }
}

// Universal Paddings

@mixin paddings($padding-top, $padding-right, $padding-bottom, $padding-left) {
    @if ((strip-unit($padding-top) == 0) and (strip-unit($padding-right) == 0) and (strip-unit($padding-bottom) == 0) and (strip-unit($padding-left) == 0)) {
    }
    @else if ((strip-unit($padding-top) == 0) and (strip-unit($padding-right) == 0) and (strip-unit($padding-bottom) == 0) and (strip-unit($padding-left) > 0)) {
        padding-left: $padding-left;
    }
    @else if ((strip-unit($padding-top) == 0) and (strip-unit($padding-left) == 0) and (strip-unit($padding-bottom) == 0) and (strip-unit($padding-right) > 0)) {
        padding-right: $padding-right;
    }
    @else if ((strip-unit($padding-right) == 0) and (strip-unit($padding-left) == 0) and (strip-unit($padding-bottom) == 0) and (strip-unit($padding-top) > 0)) {
        padding-top: $padding-top;
    }
    @else if ((strip-unit($padding-top) == 0) and (strip-unit($padding-right) == 0) and (strip-unit($padding-left) == 0) and (strip-unit($padding-bottom) > 0)) {
        padding-bottom: $padding-bottom;
    }
    @else {
        @if (($padding-right == $padding-left) and ($padding-right != $padding-top) and ($padding-top != $padding-bottom)) {
            padding: $padding-top $padding-right $padding-bottom;
        }
        @else if (($padding-top == $padding-bottom) and ($padding-right == $padding-left) and ($padding-top != $padding-right)) {
            padding: $padding-top $padding-right;
        }
        @else if (($padding-top == $padding-bottom) and ($padding-right == $padding-left) and ($padding-top == $padding-right)) {
            padding: $padding-top;
        }
        @else {
            padding: $padding-top $padding-right $padding-bottom $padding-left;
        }
    }
}

@mixin navslide($direction) {
    
    @if $direction == top {
        transform: translateY(calc(-100% - #{$navigation_mobile_height}));
    } 
    @else if $direction == right {
        transform: translateX(100%);
    } 
    @else if $direction == bottom {
        transform: translateY(100%);
    } 
    @else if $direction == left {
        transform: translateX(-100%);
    } 
    @else if $direction == reset {
        transform: translateX(0%) translateY(0%);
    }

}