//
// Prevents number variables to be null. If it is null, it will be 0 and it won't be rendered
//

@if ($theme_layout_gap == null) {
    $theme_layout_gap: 0;
}
@if ($theme_sidebar_space_between_content == null) {
    $theme_sidebar_space_between_content: 0;
}
@if ($theme_content_wrapper_margin_top == null) {
    $theme_content_wrapper_margin_top: 0;
}
@if ($theme_content_wrapper_margin_right == null) {
    $theme_content_wrapper_margin_right: 0;
}
@if ($theme_content_wrapper_margin_bottom == null) {
    $theme_content_wrapper_margin_bottom: 0;
}
@if ($theme_content_wrapper_margin_left == null) {
    $theme_content_wrapper_margin_left: 0;
}
@if ($theme_content_wrapper_padding_top == null) {
    $theme_content_wrapper_padding_top: 0;
}
@if ($theme_content_wrapper_padding_right == null) {
    $theme_content_wrapper_padding_right: 0;
}
@if ($theme_content_wrapper_padding_bottom == null) {
    $theme_content_wrapper_padding_bottom: 0;
}
@if ($theme_content_wrapper_padding_left == null) {
    $theme_content_wrapper_padding_left: 0;
}
@if ($theme_sidebar_wrapper_margin_top == null) {
    $theme_sidebar_wrapper_margin_top: 0;
}
@if ($theme_sidebar_wrapper_margin_right == null) {
    $theme_sidebar_wrapper_margin_right: 0;
}
@if ($theme_sidebar_wrapper_margin_bottom == null) {
    $theme_sidebar_wrapper_margin_bottom: 0;
}
@if ($theme_sidebar_wrapper_margin_left == null) {
    $theme_sidebar_wrapper_margin_left: 0;
}
@if ($theme_sidebar_wrapper_padding_top == null) {
    $theme_sidebar_wrapper_padding_top: 0;
}
@if ($theme_sidebar_wrapper_padding_right == null) {
    $theme_sidebar_wrapper_padding_right: 0;
}
@if ($theme_sidebar_wrapper_padding_bottom == null) {
    $theme_sidebar_wrapper_padding_bottom: 0;
}
@if ($theme_sidebar_wrapper_padding_left == null) {
    $theme_sidebar_wrapper_padding_left: 0;
}
@if ($theme_sidebar_width == null) {
    $theme_sidebar_width: 0;
}
@if ($theme_navigation_margin_top == null) {
    $theme_navigation_margin_top: 0;
}
@if ($theme_navigation_margin_right == null) {
    $theme_navigation_margin_right: 0;
}
@if ($theme_navigation_margin_bottom == null) {
    $theme_navigation_margin_bottom: 0;
}
@if ($theme_navigation_margin_left == null) {
    $theme_navigation_margin_left: 0;
}
@if ($theme_navigation_padding_top == null) {
    $theme_navigation_padding_top: 0;
}
@if ($theme_navigation_padding_right == null) {
    $theme_navigation_padding_top: 0;
}
@if ($theme_navigation_padding_bottom == null) {
    $theme_navigation_padding_top: 0;
}
@if ($theme_navigation_padding_left == null) {
    $theme_navigation_padding_top: 0;
}
@if ($theme_navigation_mobile_height == null) {
    $theme_navigation_mobile_height: 0;
}
@if ($theme_navigation_mobile_margin_top == null) {
    $theme_navigation_mobile_margin_top: 0;
}
@if ($theme_navigation_mobile_margin_right == null) {
    $theme_navigation_mobile_margin_right: 0;
}
@if ($theme_navigation_mobile_margin_bottom == null) {
    $theme_navigation_mobile_margin_bottom: 0;
}
@if ($theme_navigation_mobile_margin_left == null) {
    $theme_navigation_mobile_margin_left: 0;
}
@if ($theme_navigation_mobile_padding_top == null) {
    $theme_navigation_mobile_padding_top: 0;
}
@if ($theme_navigation_mobile_padding_right == null) {
    $theme_navigation_mobile_padding_right: 0;
}
@if ($theme_navigation_mobile_padding_bottom == null) {
    $theme_navigation_mobile_padding_bottom: 0;
}
@if ($theme_navigation_mobile_padding_left == null) {
    $theme_navigation_mobile_padding_left: 0;
}
@if ($theme_navigation_mobile_height == null) {
    $theme_navigation_mobile_height: 0;
}
@if ($theme_navlinks_font_size == null) {
    $theme_navlinks_font_size: 0;
}
@if ($theme_logo_font_size == null) {
    $theme_logo_font_size: 0;
}
@if ($theme_button_border_width == null) {
    $theme_button_border_width: 0;
}
@if ($theme_button_padding_top == null) {
    $theme_button_padding_top: 0;
}
@if ($theme_button_padding_right == null) {
    $theme_button_padding_right: 0;
}
@if ($theme_button_padding_bottom == null) {
    $theme_button_padding_bottom: 0;
}
@if ($theme_button_padding_left == null) {
    $theme_button_padding_left: 0;
}
@if ($theme_cta_button_border_width == null) {
    $theme_cta_button_border_width: 0;
}
@if ($theme_global_font_size == null) {
    $theme_global_font_size: 0;
}
// Typohraphy
@if ($theme_h1_size == null) {
    $theme_h1_size: 0;
}
@if ($theme_h2_size == null) {
    $theme_h2_size: 0;
}
@if ($theme_h3_size == null) {
    $theme_h3_size: 0;
}
@if ($theme_h4_size == null) {
    $theme_h4_size: 0;
}
@if ($theme_h5_size == null) {
    $theme_h5_size: 0;
}
@if ($theme_h6_size == null) {
    $theme_h6_size: 0;
}
@if ($theme_display_size == null) {
    $theme_display_size: 0;
}

@if ($theme_h1_margin_top == null) {
    $theme_h1_margin_top: 0;
}
@if ($theme_h1_margin_right == null) {
    $theme_h1_margin_right: 0;
}
@if ($theme_h1_margin_bottom == null) {
    $theme_h1_margin_bottom: 0;
}
@if ($theme_h1_margin_left == null) {
    $theme_h1_margin_left: 0;
}

@if ($theme_h2_margin_top == null) {
    $theme_h2_margin_top: 0;
}
@if ($theme_h2_margin_right == null) {
    $theme_h2_margin_right: 0;
}
@if ($theme_h2_margin_bottom == null) {
    $theme_h2_margin_bottom: 0;
}
@if ($theme_h2_margin_left == null) {
    $theme_h2_margin_left: 0;
}

@if ($theme_h3_margin_top == null) {
    $theme_h3_margin_top: 0;
}
@if ($theme_h3_margin_right == null) {
    $theme_h3_margin_right: 0;
}
@if ($theme_h3_margin_bottom == null) {
    $theme_h3_margin_bottom: 0;
}
@if ($theme_h3_margin_left == null) {
    $theme_h3_margin_left: 0;
}

@if ($theme_h4_margin_top == null) {
    $theme_h4_margin_top: 0;
}
@if ($theme_h4_margin_right == null) {
    $theme_h4_margin_right: 0;
}
@if ($theme_h4_margin_bottom == null) {
    $theme_h4_margin_bottom: 0;
}
@if ($theme_h4_margin_left == null) {
    $theme_h4_margin_left: 0;
}

@if ($theme_h5_margin_top == null) {
    $theme_h5_margin_top: 0;
}
@if ($theme_h5_margin_right == null) {
    $theme_h5_margin_right: 0;
}
@if ($theme_h5_margin_bottom == null) {
    $theme_h5_margin_bottom: 0;
}
@if ($theme_h5_margin_left == null) {
    $theme_h5_margin_left: 0;
}

@if ($theme_h6_margin_top == null) {
    $theme_h6_margin_top: 0;
}
@if ($theme_h6_margin_right == null) {
    $theme_h6_margin_right: 0;
}
@if ($theme_h6_margin_bottom == null) {
    $theme_h6_margin_bottom: 0;
}
@if ($theme_h6_margin_left == null) {
    $theme_h6_margin_left: 0;
}