@if ($theme_layout_gap == null) {
    $theme_layout_gap: 0;
}
@if ($theme_sidebar_space_between_content == null) {
    $theme_sidebar_space_between_content: 0;
}
@if ($theme_content_wrapper_margin_top == null) {
    $theme_content_wrapper_margin_top: 0;
}
@if ($theme_content_wrapper_margin_right == null) {
    $theme_content_wrapper_margin_right: 0;
}
@if ($theme_content_wrapper_margin_bottom == null) {
    $theme_content_wrapper_margin_bottom: 0;
}
@if ($theme_content_wrapper_margin_left == null) {
    $theme_content_wrapper_margin_left: 0;
}
@if ($theme_content_wrapper_padding_top == null) {
    $theme_content_wrapper_padding_top: 0;
}
@if ($theme_content_wrapper_padding_right == null) {
    $theme_content_wrapper_padding_right: 0;
}
@if ($theme_content_wrapper_padding_bottom == null) {
    $theme_content_wrapper_padding_bottom: 0;
}
@if ($theme_content_wrapper_padding_left == null) {
    $theme_content_wrapper_padding_left: 0;
}
@if ($theme_sidebar_wrapper_margin_top == null) {
    $theme_sidebar_wrapper_margin_top: 0;
}
@if ($theme_sidebar_wrapper_margin_right == null) {
    $theme_sidebar_wrapper_margin_right: 0;
}
@if ($theme_sidebar_wrapper_margin_bottom == null) {
    $theme_sidebar_wrapper_margin_bottom: 0;
}
@if ($theme_sidebar_wrapper_margin_left == null) {
    $theme_sidebar_wrapper_margin_left: 0;
}
@if ($theme_sidebar_wrapper_padding_top == null) {
    $theme_sidebar_wrapper_padding_top: 0;
}
@if ($theme_sidebar_wrapper_padding_right == null) {
    $theme_sidebar_wrapper_padding_right: 0;
}
@if ($theme_sidebar_wrapper_padding_bottom == null) {
    $theme_sidebar_wrapper_padding_bottom: 0;
}
@if ($theme_sidebar_wrapper_padding_left == null) {
    $theme_sidebar_wrapper_padding_left: 0;
}
@if ($theme_navigation_margin_top == null) {
    $theme_navigation_margin_top: 0;
}
@if ($theme_navigation_margin_right == null) {
    $theme_navigation_margin_right: 0;
}
@if ($theme_navigation_margin_bottom == null) {
    $theme_navigation_margin_bottom: 0;
}
@if ($theme_navigation_margin_left == null) {
    $theme_navigation_margin_left: 0;
}
@if ($theme_navigation_padding_top == null) {
    $theme_navigation_padding_top: 0;
}
@if ($theme_navigation_padding_right == null) {
    $theme_navigation_padding_top: 0;
}
@if ($theme_navigation_padding_bottom == null) {
    $theme_navigation_padding_top: 0;
}
@if ($theme_navigation_padding_left == null) {
    $theme_navigation_padding_top: 0;
}
@if ($theme_navigation_mobile_height == null) {
    $theme_navigation_mobile_height: 0;
}