==
<h5 id="alpha-v0-19"><b>Alpha v0.19</b></h5>
<ul>
    <li>Added support for a full height content wrapper when the sidebar is inside it.</li>
</ul>

<h5 id="alpha-v0-18"><b>Alpha v0.18</b></h5>

<ul>
    <li>Added margins and padding settings for the navigation bar.</li>
    <li>Added support in case margins and paddings fields were empty</li>
    <li>Added basic navigation styling (background for now)</li>
    <li>Added support for rem and % units</li>
    <li>Added a new page /blog to do some testing</li>
</ul>
<h5 id="alpha-v0-17"><b>Alpha v0.17</b></h5>
<ul>
    <li>Basic Navigation added</li>
    <li>Added a unit picker for the Page Width. This should be made available for every numbers value on the theme in the next update.</li>
</ul>
<h5 id="alpha-v0-16"><b>Alpha v0.16</b></h5>
<ul>
    <li>New settings added. THey do not work tho, but should in next version</li>
</ul>
<h5 id="alpha-v0-15"><b>Alpha v0.15</b></h5>
<ul>
<li>New settings for the content wrapper and the sidebar wrapper added</li>
<li>New mixin to add css easier. This would probably speed up the website a little bit, by a very tiny amount. So tiny that it's probably negligeable</li>
<li>Added a customizable gap between the Content and the Sidebar</li>
</ul>
<h5 id="alpha-v0-14"><b>Alpha v0.14</b></h5>
<ul>
<li>New settings for the content wrapper and the sidebar wrapper added</li>
</ul>
<h5 id="alpha-v0-13"><b>Alpha v0.13</b></h5>
<ul>
<li>Sidebar should work</li>
</ul>
<h5 id="alpha-v0-12"><b>Alpha v0.12</b></h5>
<ul>
<li>Added working Sidebar</li>
</ul>
<h5 id="known-issues">Known Issues</h5>
<ul>
    <li>The Sidebar doesn't work if it is inside the Content Wrapper</li>
</ul>
<h5 id="alpha-v0-11"><b>Alpha v0.11</b></h5>
<ul>
<li>Added Support for the Content Wrapper margins and paddings.</li>
<li>Rename the Layout tab to Page Layout</li>
<li>Moved the Content Wrapper options into the tab Layout</li>
<li>Moved the Sidebar into its own tab</li>
</ul>
<h5 id="alpha-v0-1">Alpha v0.1</h5>
<ul>
<li>Added Fixed Width Layout</li>
<li>Added Full Width Layout</li>
<li>Added Default Layout</li>
<li>Added Custom Layout</li>
<li>Added a customizable width for the Default, the Custom and the fixed-width layouts</li>
<li>Added Navigation Bar Layout &gt; Full Width</li>
<li>Added Navigation Bar Layout &gt; Fixed Width</li>
<li>Added customizable width for the Navigation Bar</li>
<li>Added Footer Layout &gt; Full Width </li>
<li>Added Footer Layout &gt; Fixed Width</li>
<li>Added customizable Width for the Footer</li>
<li>Added Content Wrapper options</li>
<li>Added Sidebar options</li>
</ul>
<h5 id="known-issues">Known Issues</h5>
<ul>
<li>None of the colors work except for $theme_page_background and the Misc Settings Colors work</li>
<li>The Content Wrapper &gt; Paddings and Margins don&#39;t work</li>
<li>The Sidebar &gt; Paddings and Margins don&#39;t work</li>
<li>The General Tab is currently useless</li>
<li>The Right/Left option for the Sidebar don&#39;t change anything</li>
</ul>
<h5 id="current-future-plans">Current Future plans</h5>
<ul>
<li>Make sure this current list of issues is empty</li>
<li>More options to the Content Wrapper and Sidebar (background colors, font-size etc...)</li>
<li>Add a built-in customizable navigation.</li>
<li>Add a built-in customizable footer</li>
<li>Add some blog options</li>
<li>Better mixin for managling the sidebar</li>
</ul>
<h5 id="how-to-use-this-theme-in-its-current-form-">How to use this theme in its current form.</h5>
<p>You can&#39;t.
.
.
. But if you really want to, first and foremost, good luck. Here is a basic FAQ although no one asked these before.</p>
<h5 id="how-to-create-new-pages">How to create new pages</h5>
<ul>
<li>Go to CMS -&gt; Pages</li>
<li>Open Home</li>
<li>Copy everything</li>
<li>Click Add</li>
<li>Add a name and Add the layout called main-layout</li>
<li>Paste everything</li>
<li>Edit ONLY where it says &quot;Your content goes here&quot; otherwise it will break everything and nothing will work</li>
<li>Done</li>
</ul>
<p>DON&#39;T USE THIS THEME IN PRODUCTION YET. LOTS AND LOTS OF THINGS ARE GOING TO CHANGE IN THE COUPLE DAYS/WEEKS.</p>